# Ecommerce Purchases Exercise Overview

Hi Guys,<br>
After a crash course on pandas for data analysis, its time to do some practice!!!<br>
Because of privacy issues, I have created a fake dataset here with 30K entries. <br>
The situation is, customers are providing some personal information while purchasing stuff on-line or in-store. For some reasons, your client wants to know the answer to some of his questions from the dataset, let's try to help him!.<br>

*Feel free to consult the solutions if needed. Please note, the tasks given in the exercises, can be solved in different ways. Try your best answer and compare with the solutions.* <br>
&#9758; The dataset is provided in the course downloads.

**1. Import Pandas and Read the csv file.**

In [1]:
# Importing Drive, OS and Pandas
import os
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

# Reading the csv file from Google Drive
data_root = ('/content/drive/MyDrive/Colab Notebooks/Project 2')  # This path will need to be modified based on the dataset's location
dataset_path = os.path.join(data_root, 'Cust_Purch_FakeData.csv')
dfm = pd.read_csv(dataset_path)

Mounted at /content/drive

**2. Its good idea to see how the data look like, display first 5 rows of your data-set.**

In [3]:
pd.set_option('display.expand_frame_repr', False)  # Disabling column wrapping for better view
print(dfm.iloc[0:5])  # dfm.iloc[] be used to print any number of rows by modifying the range

  prefix    first       last              email  gender  age                       company              profession           phone   postal province             cc_no   cc_exp                    cc_type  price(CAD) fav_color              ip    weekday ampm        date
0    Dr.      Ray     Morton    sebvajom@kol.km    Male   38                Medtronic Inc.        Health Therapist  (987) 619-2695  B6V 3W3       MB  5020000000000230  05/2018                       Solo        8.36      Blue    126.23.139.2     Sunday   pm  04/05/1930
1   Miss  Claudia  Rodriquez      acu@jatsot.ug  Female   51  Ames Department Stores, Inc.        Health Therapist  (356) 736-7352  G7M 5F3       SK  5020000000000230  07/2028                       Visa       68.31     Black  106.198.76.211    Tuesday   am  12/20/1926
2   Miss    Harry      Meyer          zuz@lo.wf  Female   51                     CSX Corp.     Political Scientist  (539) 246-1806  A0Z 6P9       NS  6300000000000000  02/2023                     Switch       34.65     Black  186.150.187.29  Wednesday   pm  08/20/1931
3   Miss    Edith    Gilbert  hansohsi@jupec.md  Female   55        Murphy Oil Corporation  Transportation Manager  (984) 962-7494  P9I 9H3       YT  3530000000000000  02/2028                    Maestro       64.59     White   80.140.57.161   Saturday   am  06/18/2001
4    Dr.     Lura     Murphy     webediti@je.st  Female   20                  PETsMART Inc            Statistician  (902) 568-9748  S1A 6K0       ON  4030000000000000  10/2025  Diners Club International       20.83    Yellow   211.103.43.41     Friday   pm  06/14/2045

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

**3. How many entries your data have?
Can you tell the no. of columns in your data?**

In [4]:
# Printing only the number of entries and columns
print("Number of entries:", dfm.shape[0])
print("Number of columns:", dfm.shape[1])

Number of entries: 30000
Number of columns: 20

In [5]:
# Printing number of entries and columns along with descriptions
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
prefix        30000 non-null object
first         30000 non-null object
last          30000 non-null object
email         30000 non-null object
gender        30000 non-null object
age           30000 non-null int64
company       30000 non-null object
profession    30000 non-null object
phone         30000 non-null object
postal        30000 non-null object
province      30000 non-null object
cc_no         30000 non-null int64
cc_exp        30000 non-null object
cc_type       30000 non-null object
price(CAD)    30000 non-null float64
fav_color     30000 non-null object
ip            30000 non-null object
weekday       30000 non-null object
ampm          30000 non-null object
date          30000 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

**4. What are the max and min ages of your customer? Can you find mean of your customer?**

In [6]:
print("Maximum age of the customers is", dfm.age.max())
print("Minimum age of the customers is", dfm.age.min())
print("Average age of the customers is", dfm.age.mean())

Maximum age of the customers is 65
Minimum age of the customers is 18
Average age of the customers is 41.550066666666666

Max. age of the customer is:  65
Max. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

**5. What are the three most common customer's names?**<br>
&#9989; [<code>**value_counts()**</code>](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [ ]:
# Combining First name and Last name from dfm in a single column
dfm["Name"] = dfm["first"] + " " + dfm["last"]

# Checking if combining was successful
dfm["Name"].head()

0           Ray Morton
1    Claudia Rodriquez
2          Harry Meyer
3        Edith Gilbert
4          Lura Murphy
Name: Name, dtype: object

In [ ]:
# Printing 3 most common FULL NAMES
print(dfm["Name"].value_counts().head(3))

Name
Henrietta Luna    4
Leona Ruiz        3
Katie McKinney    3
Name: count, dtype: int64

In [ ]:
# Printing 3 most common FIRST NAMES
print(dfm["first"].value_counts().head(3))

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

**6. Two customers have the same phone number, can you find those customers**?

In [ ]:
# Identifying the common phone number
dfm["phone"].value_counts().head(2)   # Printing top 2 numbers to check if there is only 1 unique number or not

phone
(263) 382-8004    2
(712) 247-7037    1
Name: count, dtype: int64

In [ ]:
# lets find what phone number is twice!

(263) 382-8004    2
(668) 836-2738    1
Name: phone, dtype: int64

In [ ]:
# Printing the entries containing the phone number (263) 382-8004
dfm[dfm["phone"] == "(263) 382-8004"]

   prefix  first   last                email  gender  age            company           profession           phone   postal province             cc_no   cc_exp                    cc_type  price(CAD) fav_color              ip   weekday ampm        date         Name
15   Mrs.  Lilly  Tyler      kofadu@itohi.tf  Female   38          CSX Corp.  Structural Engineer  (263) 382-8004  V7K 1E3       ON    30000000000000  11/2022  Diners Club Carte Blanche        9.61    Yellow   74.124.37.227  Saturday   am  03/30/1985  Lilly Tyler
16   Mrs.  Peter   Cain  megkosig@anazeor.gn    Male   27  Campbell Soup Co.   Insurance Adjuster  (263) 382-8004  E8T 2B4       YT  3530000000000000  03/2024                       Solo       13.74     Black  25.207.141.135   Tuesday   am  08/05/1950   Peter Cain

In [ ]:
# Now we know the phone number, let's find out the other stuff!

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,Name
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,...,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985,Lilly Tyler
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,...,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950,Peter Cain

**7. How many customers have profession "Structural Engineer"?**

In [ ]:
# Counting the number of entries where 'Structural Engineer' appears and storing in a dataframe 'SE_count'
SE_count = dfm[dfm["profession"] == "Structural Engineer"]["profession"].count()

# Printing the number of entries where 'Structural Engineer' appears
print("Number of customers having the profession Structural Engineer: ", SE_count)

Number of customers having the profession Structural Engineer:  87

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

**8. How many male customers are 'Structural Engineer'?**

In [ ]:
# Counting the number of entries having 'Structural Engineer' and 'Male' and storing in a dataframe 'SE_M_count'
SE_M_count = dfm[(dfm["profession"] == "Structural Engineer") & (dfm["gender"] == "Male")]["profession"].count()

# Printing the number of male Structural Engineers
print("Number of male customers having the profession Structural Engineer: ", SE_M_count)

Number of male customers having the profession Structural Engineer:  43

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

**9. Find out the female Structural Engineers from province Alberta (AB)?**

In [ ]:
# Counting the number of entries having 'Structural Engineer' and 'Male' and storing in a dataframe 'SE_F_count'
SE_F = dfm[(dfm["profession"] == "Structural Engineer") & (dfm["gender"] == "Female") & (dfm["province"] == "AB")]

# Printing the number of entries in dataframe 'SE_F_count'
print("The number of female customers from Alberta having the profession Structural Engineer is ", SE_F.shape[0])

# Printing the entries in dataframe 'SE_F_count'
print("\n", SE_F)

The number of female customers from Alberta having the profession Structural Engineer is  4

       prefix first      last              email  gender  age                         company           profession           phone   postal province             cc_no   cc_exp                             cc_type  price(CAD) fav_color               ip    weekday ampm        date           Name
8858     Dr.   Roy   Stanley  apiunvo@ehasom.ir  Female   39      Cincinnati Financial Corp.  Structural Engineer  (876) 758-2929  N5A 6L2       AB  6300000000000000  02/2022                        InstaPayment       31.86       Red   165.249.159.57     Sunday   pm  12/25/1903    Roy Stanley
9058     Mr.  Lora   Kennedy    dennap@rabac.se  Female   51             BJ Services Company  Structural Engineer  (305) 786-6959  N3R 4B7       AB   201000000000000  06/2019  Diners Club United States & Canada       53.29     Black   42.216.243.206   Thursday   pm  06/06/2028   Lora Kennedy
24736   Mrs.  Nell  Richards          dob@me.ki  Female   18    Telephone & Data Systems Inc  Structural Engineer  (262) 681-5018  N3Y 3G2       AB   347000000000000  07/2028                    American Express       76.28      Blue     91.16.30.156  Wednesday   pm  07/14/1951  Nell Richards
29865   Mrs.   Don  McDaniel        naf@zudu.bj  Female   37  Anadarko Petroleum Corporation  Structural Engineer  (238) 789-2825  B4A 8Q9       AB  5610000000000000  12/2022                          Mastercard       62.71      Blue  162.233.117.142     Sunday   pm  11/03/1989   Don McDaniel

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

**10. What is the max, min and average spending?**

In [ ]:
print("Maximum spending by a customer is", dfm["price(CAD)"].max())
print("Minimum spending by a customer is", dfm["price(CAD)"].min())
print("Average spending by a customer is", dfm["price(CAD)"].mean())

Maximum spending by a customer is 100.0
Minimum spending by a customer is 0.0
Average spending by a customer is 49.990775

Max. spending:  100.0
Mai. spending:  0.0
Avg. spending:  49.990775000000184

**11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!**

In [ ]:
dfm[dfm["price(CAD)"] == 0][["prefix", "Name", "price(CAD)"]]

      prefix         Name  price(CAD)
5320     Dr.  Bruce Bryan         0.0
10597   Mrs.  Flora Clark         0.0

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

**12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?**

In [ ]:
dfm[dfm["price(CAD)"] >= 100][["prefix", "Name", "price(CAD)"]]

      prefix              Name  price(CAD)
76      Mrs.     Gregory Brown       100.0
21093   Mrs.  Cody Christensen       100.0
24385   Miss      Lizzie Dixon       100.0

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

**13. How many emails are associated with this credit card number '5020000000000230'?**

In [ ]:
mail_cc = dfm[dfm["cc_no"] == 5020000000000230][["prefix", "Name", "email","cc_no"]]
print(mail_cc)

print("\n The number of emails associated with '5020000000000230' is ", mail_cc.shape[0])

  prefix               Name            email             cc_no
0    Dr.         Ray Morton  sebvajom@kol.km  5020000000000230
1   Miss  Claudia Rodriquez    acu@jatsot.ug  5020000000000230

 The number of emails associated with '5020000000000230' is  2

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

**14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?**<br>
*Use `sum()` and `count()` and see the difference in their use :)*

In [ ]:
# Using sum()
dfm[dfm["cc_exp"].apply(lambda x: x[-2:]) == '19']["cc_exp"].sum()   # x[-2:] indicates the last 2 digits of the year

'12/201907/201902/201910/201911/201902/201905/201909/201903/201906/201907/201903/201904/201910/201907/201903/201903/201912/201908/201907/201910/201904/201903/201903/201907/201911/201906/201904/201910/201902/201907/201909/201912/201906/201912/201901/201906/201909/201903/201901/201907/201903/201904/201904/201911/201910/201906/201909/201904/201905/201907/201911/201901/201909/201902/201905/201909/201912/201908/201902/201910/201906/201901/201908/201901/201910/201912/201910/201911/201908/201908/201906/201907/201911/201903/201901/201904/201902/201905/201903/201901/201903/201906/201910/201905/201903/201904/201904/201906/201910/201902/201902/201910/201907/201912/201902/201910/201906/201905/201905/201905/201912/201904/201912/201909/201910/201901/201906/201902/201904/201904/201908/201911/201904/201912/201909/201904/201906/201901/201901/201909/201903/201907/201903/201902/201912/201910/201910/201902/201908/201909/201912/201902/201912/201909/201901/201912/201906/201902/201903/201903/201910/201907/201902/201904/201909/201910/201903/201910/201910/201910/201909/201905/201903/201911/201910/201905/201903/201911/201907/201905/201906/201903/201910/201912/201908/201904/201908/201906/201909/201903/201906/201902/201911/201905/201904/201912/201911/201910/201905/201902/201912/201911/201912/201904/201906/201910/201904/201908/201902/201902/201903/201909/201908/201908/201906/201904/201910/201909/201907/201906/201906/201905/201901/201902/201902/201911/201904/201905/201905/201903/201905/201905/201902/201906/201911/201903/201903/201905/201905/201906/201901/201910/201903/201903/201904/201907/201907/201907/201906/201904/201903/201908/201906/201907/201903/201904/201910/201909/201911/201911/201902/201910/201909/201902/201912/201912/201902/201905/201910/201911/201911/201911/201912/201901/201911/201901/201907/201902/201912/201902/201901/201908/201906/201912/201902/201905/201906/201912/201901/201906/201901/201908/201909/201903/201901/201910/201904/201909/201911/201909/201912/201907/201902/201901/201912/201906/201903/201905/201904/201908/201908/201906/201909/201908/201904/201901/201903/201909/201907/201907/201908/201912/201904/201901/201901/201908/201902/201906/201905/201902/201902/201905/201903/201902/201901/201906/201901/201904/201910/201902/201904/201903/201902/201911/201908/201910/201910/201905/201905/201907/201906/201902/201901/201905/201912/201909/201910/201905/201912/201910/201912/201912/201906/201907/201911/201912/201910/201912/201911/201903/201910/201902/201910/201902/201905/201905/201909/201904/201912/201908/201902/201906/201907/201901/201907/201909/201911/201908/201907/201912/201909/201907/201904/201901/201905/201902/201902/201907/201901/201903/201905/201903/201909/201906/201908/201905/201912/201907/201904/201901/201902/201911/201901/201908/201905/201904/201909/201903/201901/201909/201903/201911/201910/201903/201908/201911/201903/201901/201907/201902/201910/201911/201910/201908/201906/201908/201912/201906/201911/201902/201905/201902/201904/201906/201902/201903/201912/201904/201901/201904/201909/201912/201910/201904/201905/201902/201907/201902/201912/201906/201909/201904/201901/201908/201906/201912/201908/201907/201902/201901/201901/201902/201902/201906/201911/201909/201901/201903/201904/201908/201906/201901/201903/201906/201904/201909/201908/201906/201910/201906/201904/201904/201909/201907/201912/201902/201909/201906/201905/201911/201910/201905/201909/201912/201907/201912/201907/201903/201905/201910/201911/201910/201907/201904/201908/201901/201910/201904/201909/201902/201908/201910/201908/201905/201911/201907/201905/201908/201904/201908/201906/201905/201906/201907/201906/201908/201906/201906/201910/201904/201903/201910/201903/201911/201903/201902/201908/201905/201910/201910/201906/201905/201905/201912/201905/201901/201908/201912/201904/201902/201905/201910/201910/201911/201903/201903/201903/201906/201904/201901/201912/201903/201912/201908/201904/201909/201903/201910/201908/201902/201911/201909/201906/201909/201901/201902/201902/201908/201902/201901/201911/201910/201912/201911/201901/201901/201912/201908/201912/201908/201909/201910/201901/201911/201908/201904/201905/201909/201905/201902/201904/201908/201902/201903/201904/201903/201910/201902/201910/201911/201903/201901/201906/201901/201906/201912/201912/201905/201908/201907/201903/201904/201903/201910/201901/201912/201905/201904/201912/201910/201906/201907/201904/201912/201904/201910/201902/201907/201903/201908/201905/201907/201904/201904/201902/201911/201912/201911/201903/201902/201902/201910/201910/201909/201905/201910/201907/201910/201911/201904/201912/201911/201901/201908/201906/201909/201904/201905/201904/201912/201902/201906/201912/201902/201906/201904/201902/201901/201911/201902/201909/201902/201911/201906/201905/201904/201909/201910/201908/201909/201901/201909/201906/201911/201911/201901/201912/201905/201906/201906/201901/201909/201905/201910/201911/201901/201904/201902/201901/201908/201904/201909/201909/201903/201904/201912/201910/201903/201905/201906/201904/201902/201912/201911/201901/201902/201902/201904/201909/201908/201901/201903/201902/201903/201903/201909/201904/201902/201901/201907/201911/201905/201901/201912/201908/201901/201901/201902/201904/201902/201911/201902/201911/201909/201912/201908/201907/201910/201902/201911/201911/201909/201907/201908/201901/201907/201902/201910/201905/201906/201906/201911/201903/201905/201902/201901/201905/201911/201906/201908/201912/201903/201910/201906/201906/201911/201911/201903/201909/201904/201901/201902/201902/201905/201905/201910/201905/201903/201911/201911/201903/201909/201910/201906/201904/201910/201904/201905/201906/201905/201911/201909/201901/201904/201901/201907/201912/201906/201911/201910/201902/201905/201911/201910/201910/201902/201901/201906/201910/201902/201910/201901/201906/201903/201901/201901/201905/201904/201912/201911/201909/201901/201910/201907/201911/201909/201909/201910/201904/201904/201904/201911/201910/201910/201912/201902/201909/201906/201912/201906/201909/201911/201911/201912/201912/201904/201910/201905/201906/201903/201903/201906/201903/201901/201911/201909/201902/201904/201903/201907/201911/201910/201903/201904/201906/201911/201908/201905/201906/201905/201906/201902/201904/201910/201904/201902/201904/201904/201912/201912/201903/201911/201906/201901/201911/201907/201908/201908/201905/201912/201904/201912/201905/201911/201901/201912/201902/201910/201904/201904/201907/201910/201901/201912/201905/201903/201909/201902/201910/201906/201910/201908/201904/201909/201902/201908/201907/201912/201902/201904/201911/201903/201912/201911/201911/201909/201907/201912/201904/201905/201909/201904/201909/201901/201903/201905/201909/201901/201910/201910/201907/201907/201903/201901/201912/201910/201902/201902/201912/201904/201908/201909/201906/201904/201901/201907/201904/201902/201903/201907/201902/201912/201908/201904/201905/201904/201910/201903/201901/201912/201910/201906/201910/201909/201902/201904/201904/201905/201904/201905/201904/201903/201908/201908/201901/201911/201910/201903/201906/201905/201912/201905/201911/201909/201901/201909/201906/201905/201907/201907/201906/201910/201912/201907/201902/201907/201901/201912/201906/201911/201903/201902/201905/201909/201902/201909/201911/201908/201911/201910/201911/201904/201901/201911/201908/201906/201901/201901/201902/201908/201901/201911/201912/201905/201904/201910/201908/201905/201904/201904/201903/201904/201906/201909/201902/201906/201901/201901/201907/201910/201906/201911/201908/201911/201909/201908/201907/201912/201910/201905/201907/201901/201905/201901/201902/201907/201907/201912/201903/201910/201908/201906/201905/201910/201901/201903/201901/201901/201901/201907/201910/201901/201902/201908/201910/201904/201909/201902/201912/201906/201908/201911/201910/201909/201901/201905/201902/201911/201904/201907/201911/201912/201903/201911/201908/201901/201910/201901/201912/201909/201911/201905/201901/201903/201905/201903/201910/201909/201909/201903/201909/201909/201901/201908/201911/201902/201907/201908/201902/201902/201912/201901/201909/201910/201904/201905/201902/201903/201903/201911/201908/201906/201907/201901/201909/201902/201907/201907/201905/201906/201903/201905/201905/201912/201906/201901/201909/201907/201904/201907/201907/201901/201905/201903/201910/201903/201909/201910/201908/201904/201903/201910/201902/201902/201911/201912/201907/201909/201911/201908/201904/201906/201905/201908/201909/201906/201911/201910/201910/201909/201905/201905/201909/201909/201912/201911/201912/201908/201907/201905/201912/201911/201908/201906/201903/201911/201905/201908/201906/201901/201905/201901/201909/201909/201912/201910/201909/201902/201905/201903/201910/201912/201905/201901/201910/201911/201906/201903/201904/201912/201911/201909/201909/201901/201909/201906/201906/201902/201910/201907/201911/201901/201906/201901/201906/201906/201912/201911/201907/201901/201905/201901/201906/201911/201907/201905/201908/201907/201901/201907/201912/201906/201903/201909/201904/201910/201908/201908/201909/201903/201908/201906/201912/201908/201902/201909/201902/201912/201901/201912/201910/201907/201909/201903/201909/201907/201910/201911/201906/201912/201912/201901/201912/201907/201904/201908/201901/201907/201908/201909/201908/201901/201901/201912/201903/201901/201902/201911/201910/201906/201901/201904/201912/201903/201912/201910/201909/201905/201905/201904/201910/201911/201912/201907/201912/201906/201902/201904/201910/201912/201906/201904/201910/201903/201903/201910/201905/201912/201905/201911/201906/201901/201904/201908/201909/201901/201902/201901/201911/201911/201907/201906/201904/201906/201910/201907/201904/201911/201901/201902/201905/201905/201902/201909/201904/201907/201908/201911/201910/201902/201901/201907/201909/201908/201910/201909/201905/201909/201902/201912/201903/201912/201912/201908/201906/201901/201904/201910/201910/201902/201909/201907/201912/201907/201903/201907/201902/201912/201902/201907/201910/201906/201901/201901/201907/201907/201911/201910/201908/201911/201912/201905/201908/201906/201906/201907/201906/201912/201903/201910/201911/201908/201903/201906/201905/201910/201905/201911/201911/201903/201901/201909/201908/201908/201911/201911/201912/201905/201908/201908/201910/201908/201909/201906/201903/201906/201908/201906/201912/201904/201904/201911/201903/201903/201910/201902/201901/201911/201902/201912/201904/201907/201909/201906/201903/201909/201902/201907/201903/201905/201911/201912/201912/201907/201911/201911/201912/201904/201910/201910/201909/201905/201902/201902/201901/201903/201905/201903/201906/201903/201909/201909/201901/201902/201908/201906/201908/201901/201908/201907/201906/201904/201912/201904/201906/201904/201901/201904/201903/201902/201905/201912/201910/201910/201902/201901/201904/201901/201910/201902/201906/201905/201904/201907/201909/201903/201904/201902/201904/201912/201903/201903/201901/201909/201901/201912/201906/201908/201912/201902/201907/201911/201901/201910/201908/201905/201906/201904/201904/201905/201907/201910/201903/201902/201906/201912/201908/201909/201910/201910/201903/201902/201907/201903/201910/201902/201909/201910/201905/201909/201903/201909/201910/201911/201901/201902/201902/201906/201901/201909/201908/201908/201904/201910/201901/201912/201909/201902/201911/201904/201907/201902/201902/201905/201909/201906/201901/201908/201907/201908/201907/201912/201908/201903/201909/201904/201903/201909/201907/201911/201903/201908/201908/201901/201910/201908/201910/201909/201903/201903/201909/201910/201904/201910/201907/201902/201912/201912/201908/201902/201903/201908/201908/201902/201908/201905/201912/201907/201910/201909/201902/201908/201908/201903/201909/201909/201905/201903/201910/201905/201908/201912/201907/201901/201905/201911/201912/201911/201909/201903/201911/201905/201907/201902/201909/201912/201912/201905/201911/201905/201911/201904/201902/201901/201910/201908/201904/201912/201906/201908/201911/201907/201912/201907/201911/201912/201902/201906/201911/201903/201902/201911/201907/201903/201901/201903/201908/201906/201907/201904/201907/201912/201907/201907/201912/201904/201902/201909/201906/201911/201910/201901/201907/201908/201909/201905/201901/201902/201903/201908/201903/201910/201909/201911/201903/201912/201905/201905/201908/201910/201909/201902/201910/201911/201907/201907/201910/201909/201902/201905/201903/201911/201901/201912/201902/201908/201909/201904/201906/201906/201911/201907/201903/201905/201907/201912/201909/201912/201903/201911/201901/201905/201901/201903/201904/201908/201910/201910/201911/201906/201912/201907/201903/201911/201909/201908/201905/201901/201904/201904/201910/201911/201902/201910/201909/201907/201902/201904/201908/201901/201904/201912/201901/201912/201903/201910/201905/201901/201904/201905/201904/201904/201903/201909/201902/201911/201911/201910/201906/201910/201903/201907/201903/201905/201907/201909/201905/201905/201905/201901/201907/201906/201903/201908/201907/201904/201902/201901/201909/201910/201901/201909/201902/201907/201902/201904/201909/201906/201911/201909/201903/201909/201904/201904/201905/201903/201908/201902/201905/201912/201910/201911/201904/201910/201905/201912/201912/201906/201910/201907/201911/201906/201910/201906/201904/201903/201901/201902/201902/201908/201902/201906/201901/201909/201903/201908/201909/201902/201912/201905/201903/201903/201909/201904/201909/201908/201912/201907/201905/201903/201903/201907/201908/201906/201910/201912/201901/201905/201902/201912/201912/201911/201906/201902/201908/201902/201912/201903/201901/201904/201912/201904/201909/201912/201905/201912/201906/201907/201910/201906/201901/201910/201908/201903/201912/201908/201901/201907/201908/201910/201910/201906/201909/201910/201908/201906/201903/201902/201906/201907/201903/201912/201907/201912/201905/201910/201907/201908/201901/201911/201908/201902/201911/201905/201910/201904/201903/201908/201910/201903/201905/201910/201906/201911/201909/201901/201902/201905/201906/201906/201903/201901/201911/201910/201903/201901/201903/201901/201902/201910/201907/201906/201905/201905/201908/201911/201903/201912/201903/201908/201904/201912/201910/201905/201901/201905/201910/201902/201906/201905/201905/201911/201903/201908/201903/201910/201908/201909/201905/201904/201908/201910/201912/201912/201906/201905/201903/201905/201907/201904/201910/201902/201901/201908/201909/201912/201905/201902/201905/201904/201908/201909/201910/201909/201909/201910/201902/201907/201903/201903/201911/201904/201905/201904/201904/201903/201909/201902/201905/201910/201903/201911/201906/201907/201903/201907/201907/201909/201910/201901/201901/201904/201910/201911/201905/201903/201911/201903/201901/201907/201908/201911/201909/201902/201907/201912/201911/201907/201908/201901/201905/201901/201905/201902/201908/201912/201902/201908/201912/201908/201906/201901/201908/201912/201906/201903/201908/201909/201912/201908/201904/201904/201910/201908/201903/201905/201906/201909/201907/201902/201902/201910/201901/201905/201911/201910/201911/201906/201910/201905/201905/201910/201901/201911/201912/201912/201902/201910/201908/201910/201901/201912/201911/201910/201907/201908/201910/201907/201902/201907/201908/201902/201910/201908/201901/201907/201908/201911/201907/201904/201901/201902/201912/201903/201902/201902/201907/201902/201902/201911/201912/201907/201902/201909/201904/201910/201904/201910/201905/201910/201907/201903/201907/201910/201907/201905/201906/201907/201905/201902/201907/201908/201907/201904/201901/201902/201906/201910/201908/201907/201911/201906/201908/201904/201903/201901/201902/201908/201910/201909/201904/201912/201903/201907/201904/201903/201907/201903/201905/201903/201905/201901/201903/201906/201908/201912/201909/201901/201902/201910/201912/201911/201905/201902/201902/201911/201901/201912/201902/201906/201908/201909/201908/201908/201904/201906/201905/201906/201907/201908/201906/201903/201912/201909/201904/201910/201911/201906/201908/201907/201908/201907/201909/201905/201907/201908/201911/201907/201908/201903/201901/201903/201907/201907/201905/201901/201909/201905/201910/201912/201911/201907/201911/201905/201906/201909/201909/201905/201912/201910/201902/201903/201903/201901/201901/201901/201912/201910/201907/201908/201911/201904/201903/201901/201904/201909/201901/201912/201909/201904/201902/201909/201905/201906/201910/201908/201905/201910/201901/201906/201910/201911/201902/201903/201908/201903/201903/201906/201909/201901/201908/201910/201905/201905/201903/201901/201912/201909/201907/201910/201907/201902/201910/201910/201911/201906/201903/201910/201905/201911/201912/201904/201901/201908/201910/201902/201903/201906/201904/201911/201912/201907/201903/201907/201911/201911/201908/201907/201907/201901/201910/201902/201909/201910/201906/201908/201905/201908/201910/201911/201909/201911/201909/201905/201903/201903/201910/201910/201906/201907/201910/201902/201910/201911/201909/201905/201901/201910/201910/201910/201905/201912/201904/201905/201904/201908/201905/201909/201907/201903/201910/201912/201907/201904/201901/201909/201905/201903/201905/201901/201902/201908/201912/201911/201904/201907/201912/201908/201908/201902/201902/201903/201910/201907/201908/201907/201904/201904/201909/201912/201901/201904/201911/201901/201901/201908/201909/201905/201902/201906/201906/201909/201903/201908/201912/201901/201909/201903/201910/201904/201903/201901/201912/201909/201902/201910/201908/201902/201906/201902/201901/201912/201908/201906/201901/201906/201903/201911/201903/201904/201908/201907/201904/201911/201902/201911/201908/201904/201902/201912/201908/201911/201906/201904/201908/201903/201912/201908/201903/201905/201906/201908/201905/201901/201909/201903/201902/201909/201912/201903/201904/201906/201909/201901/201905/201907/201910/201907/201904/201907/201901/201908/201908/201908/201911/201903/201902/201909/201909/201910/201911/201910/201906/201901/201912/201912/201909/201905/201910/201901/201908/201910/201910/201910/201912/201904/201911/201901/201902/201908/201911/201911/201902/201912/201901/201912/201907/201902/201907/201910/201912/201903/201910/201908/201912/201906/201905/201904/201906/201903/201905/201906/201903/201909/201912/201909/201903/201912/201911/201907/201903/201902/201911/201901/201907/201912/201904/201908/201907/201908/201902/201904/201902/201912/201911/201910/201903/201910/201902/201905/201902/201909/201912/201903/201904/201912/201902/201905/201902/201905/201908/201911/201912/201901/201911/201906/201905/201906/201906/201907/201903/201903/201909/201901/201908/201905/201901/201901/201912/201902/201907/201903/201903/201909/201905/201908/201912/201901/201904/201907/201904/201904/201909/201905/201903/201910/201908/201909/201905/201908/201903/201911/201909/201912/201901/201902/201905/201904/201912/201911/201910/201904/201905/201904/201903/201907/201901/201912/201901/201906/201909/201908/201903/201908/201911/201904/201908/201912/201905/201906/201910/201909/201903/2019'

In [ ]:
# Using count()
dfm[dfm["cc_exp"].apply(lambda x: x[-2:]) == '19']["cc_exp"].count()

2684

The difference is:  
sum() concatenates all matching values into a single string (since cc_exp is likely a string column).  
count() returns the number of matching entries (how many times cc_exp ends in '19').

In [ ]:
#cust[cust['cc_exp'].apply(lambda x: x[5:]) == '19'].count()

2684

**15. How many people use Visa as their Credit Card Provider?**

In [ ]:
# Counting credit card types that are exclusively 'Visa'
visa_num = dfm[dfm["cc_type"] == "Visa"]["cc_type"].count()
print("\nNumber of people using Visa:", visa_num)

Number of people using Visa: 1721

In [ ]:
# Checking for possible types of Visa cards
visa_types = dfm[dfm["cc_type"].str.contains("visa", case=False)]["cc_type"].unique()
print("Types of Visa credit cards:", visa_types)

Types of Visa credit cards: ['Visa' 'Visa Electron']

In [8]:
# Counting credit card types that are 'Visa' or 'Visa Electron'
visa_num2 = dfm["cc_type"].str.contains("visa", case=False).sum()
print("\nNumber of people using Visa or Visa Electron:", visa_num2)

Number of people using Visa or Visa Electron: 3536

1721

**16. Can you find the customer who spent 100 CAD using Visa?**

In [ ]:
# (Assuming question is referring to only Visa and not Visa Electron)
dfm[(dfm["cc_type"] == "Visa") & (dfm["price(CAD)"] == 100)][["prefix", "Name", "cc_type", "price(CAD)"]]

   prefix           Name cc_type  price(CAD)
76   Mrs.  Gregory Brown    Visa       100.0

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

**17. What are two most common professions?**

In [ ]:
dfm["profession"].value_counts().head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

**18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)**

In [ ]:
# Extracting the domain part after '@' from the email addresses using str.split() function
dfm['domain'] = dfm['email'].str.split('@').str[1]

# Counting the top 5 most common email providers
top_5_providers = dfm['domain'].value_counts().head(5)

print("Top 5 email providers:")
print(top_5_providers)

Top 5 email providers:
email_provider
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

**19. Is there any customer who is using email with "am.edu"?**<br>
Hint: Use `lambda` expression in `apply()`. split the email address at `@`.

In [ ]:
dfm[dfm["email"].apply(lambda x: x.split('@')[1]) == 'am.edu']

    prefix    first      last         email  gender  age                  company                profession           phone   postal province             cc_no   cc_exp                             cc_type  price(CAD) fav_color              ip weekday ampm        date              Name email_provider
150   Miss  Loretta  Fletcher  barit@am.edu  Female   48  York International Corp  Rehabilitation Counselor  (323) 279-8038  E5X 8L0       QC  6330000000000000  05/2021  Diners Club United States & Canada       97.26     White  147.57.240.225  Monday   am  11/07/2066  Loretta Fletcher         am.edu

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

**20. Which day of the week, the store gets more customers?**

In [10]:
dfm["weekday"].value_counts().head(1)

weekday
Saturday    4376
Name: count, dtype: int64

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

# Excellent work!